body {
    background-color: black;
}

#header {
    width: 100%;
}

#headpic{
    width: 1120px;
    height: auto;
}

#content {
    background-color: grey;
}

#hangmanlabel {
    position: absolute;
    bottom: 200px;
    transform: rotate(-20deg);
    color: rgb(189, 125, 125);
}

#houseBanner {
    width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
}